In [13]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [14]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.

vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,10,Iralaya,HN,82.17,overcast clouds,15.0000,-83.2333,Iglesia morava renovada
1,11,Santander,ES,80.71,clear sky,43.4647,-3.8044,Abba Santander Hotel
2,14,Itarema,BR,83.23,few clouds,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
3,19,Ormara,PK,84.87,overcast clouds,25.2088,64.6357,Kenara Colony House for Rent
4,27,Tianpeng,CN,84.67,overcast clouds,30.9866,103.9393,Shuangliu Love Home Business Hotel

In [15]:
# 2. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country	</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} and {Max Temp} Â°F </dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [16]:
# 4a. Add a marker layer for each city to the map.
# 11a. Add a marker layer for each city to the map. 
from IPython.display import display
import ipywidgets as widgets

gmaps.configure(api_key=g_key)


fig = gmaps.figure()


gmaps.configure(api_key=g_key)

markers = gmaps.marker_layer(locations,info_box_content=hotel_info )
fig.add_layer(markers)





# 4b. Display the figure
display(fig)

Figure(layout=FigureLayout(height='420px'))

In [18]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
Four_cities = ['Natchez','Hamilton','Grafton','Mason City']
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City']=='Natchez']

vacation_end = vacation_df.loc[vacation_df['City']=='Natchez']

vacation_stop1 = vacation_df.loc[vacation_df['City']=='Hamilton']

vacation_stop2 = vacation_df.loc[vacation_df['City']=='Grafton']

vacation_stop3 =vacation_df.loc[vacation_df['City']=='Mason City']

In [19]:
(vacation_start[['Lat','Lng']]).to_numpy()

array([[ 31.5604, -91.4032]])

In [20]:
(vacation_start['Lat'].to_numpy()[0],vacation_start['Lng'].to_numpy()[0])

(31.5604, -91.4032)

In [21]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start['Lat'].to_numpy()[0],vacation_start['Lng'].to_numpy()[0])
end = (vacation_end['Lat'].to_numpy()[0],vacation_end['Lng'].to_numpy()[0])
stop1 = (vacation_stop1['Lat'].to_numpy()[0],vacation_stop1['Lng'].to_numpy()[0])
stop2 = (vacation_stop2['Lat'].to_numpy()[0],vacation_stop2['Lng'].to_numpy()[0])
stop3 = (vacation_stop3['Lat'].to_numpy()[0],vacation_stop3['Lng'].to_numpy()[0])

In [24]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps
import gmaps.datasets

gmaps.configure(api_key=g_key)

# Latitude-longitude pairs

fig = gmaps.figure()
start2end = gmaps.directions_layer(start,end,waypoints=[stop1,stop2,stop3],travel_mode='DRIVING')
fig.add_layer(start2end)
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,383,Natchez,US,80.26,light rain,31.5604,-91.4032,Hampton Inn & Suites Natchez
1,431,Hamilton,US,83.43,broken clouds,39.1834,-84.5333,Six Acres Bed & Breakfast
2,249,Grafton,US,80.67,overcast clouds,42.2070,-71.6856,The Grafton Inn
3,520,Mason City,US,82.67,clear sky,43.1536,-93.2010,Days Inn by Wyndham Mason City

In [26]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """

<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country	</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [27]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
markers = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(markers)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))